<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright 2012 SURFnet bv, The Netherlands

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->
<configuration scan="true">

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  <appender name="jsonTrace" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${CATALINA_BASE}/logs/csa-json-trace.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>${CATALINA_BASE}/logs/csa-json-trace-%d{yyyy-MM-dd}.log.gz</fileNamePattern>
      <maxHistory>60</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%d{ISO8601} %5p [%t] %logger{40}:%L - %m%n</pattern>
    </encoder>
  </appender>

  <logger name="org.hibernate" level="warn" additivity="false">
    <appender-ref ref="console"/>
  </logger>
  <logger name="org.springframework" level="warn" additivity="false">
    <appender-ref ref="console"/>
  </logger>
  <logger name="org.apache" level="warn" additivity="false">
    <appender-ref ref="console"/>
  </logger>
  <logger name="org.mortbay" level="warn" additivity="false">
    <appender-ref ref="console"/>
  </logger>
  <logger name="org.eclipse.jetty" level="warn" additivity="false">
    <appender-ref ref="console"/>
  </logger>
  <logger name="nl.surfnet.coin" level="info" additivity="false">
    <appender-ref ref="console"/>
  </logger>
  <logger name="nl.surfnet.coin.csa.api" level="debug" additivity="false">
    <appender-ref ref="console"/>
  </logger>
  <logger name="nl.surfnet.coin.csa.api.cache" level="warn" additivity="false">
    <appender-ref ref="console"/>
  </logger>
  <logger name="nl.surfnet.sab" level="info" additivity="false">
    <appender-ref ref="console"/>
  </logger>
  <logger name="org.springframework.security" level="debug" additivity="false">
    <appender-ref ref="console"/>
  </logger>
  <logger name="nl.surfnet.coin.oauth.OauthClient" level="warn" additivity="false">
    <appender-ref ref="jsonTrace"/>
  </logger>
  <root level="warn">
    <appender-ref ref="console"/>
  </root>

</configuration>
