#
# Copyright 2013 SURFnet bv, The Netherlands
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

janus.user=engine
janus.secret=engineblock
janus.uri=https://serviceregistry._OPENCONEXT_DOMAIN_/simplesaml/module.php/janus/services/rest/

# "own" database
coin-csa.jdbc.url=jdbc:mysql://localhost:3306/csa
coin-csa.jdbc.user=root
coin-csa.jdbc.password=c0n3xt

crmServiceClass=nl.surfnet.coin.csa.service.impl.CrmServiceNoop

# Email address that recieves error notifications
coin-errormail-to=
coin-administrative-email=

wayf.url.metadata=https://engine._OPENCONEXT_DOMAIN_/authentication/idp/metadata
wayf.url.sso=https://engine._OPENCONEXT_DOMAIN_/authentication/idp/single-sign-on
wayf.certificate=??

## Properties for opensaml
ISSUING_ENTITY_ID=https\://csa._OPENCONEXT_DOMAIN_

WEB_APPLICATION_HOST_AND_PORT=csa._OPENCONEXT_DOMAIN_

jiraServiceClass=nl.surfnet.coin.csa.service.impl.JiraServiceMock

administration.email.enabled=true

administration.jira.ticket.enabled=false

# Team id that is used as definition of who is a 'shop manager/shop admin'.
admin.distribution.channel.teamname=urn\:collab\:group\:surfteams.nl\:nl\:surfnet\:diensten\:csa_admin

api-baseurl=https\://api._OPENCONEXT_DOMAIN_/v1/
api-consumerkey=https\://csa._OPENCONEXT_DOMAIN_
api-consumersecret=secret
api-callbackuri=https\://csa._OPENCONEXT_DOMAIN_/apiOauthCallback?apiOauthCallback\=true

# Info for communication with the APIS Authorization Server
adminService.tokenVerificationUrl=https\://apis._OPENCONEXT_DOMAIN_/v1/tokeninfo
adminService.resourceServerKey=csa
adminService.resourceServerSecret=csa-secret
